.header {
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
    background-color: #78448d;
    border-radius: 20px;
    text-decoration: underline;
    font-size: larger;
    justify-self: start;
    align-self: center;
}

@media (max-width:767px) {
    .header {
        justify-self: center;
    }
}