.section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    border-bottom: 4px solid #3f4273;
    border-radius: 7px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(auto, 1fr));
    }
}