.resualts {
    background-color: #3f4273;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.478);
    border-radius: 20px;
    width: 80%;
    min-height: 65px;
    margin: 17px auto;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}

.resualts:hover {
    color: rgba(255, 255, 255, 0.775);
}

.results__result {
    font-size: larger;
}