html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.content {
  font-family: "Lexend Deca", sans-serif;
  padding: 11px;
  color: white;
  background-color: rgb(37 39 70);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.britannica.com/83/189283-131-4BB2C246/Banknotes-world.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}